# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://<username>:<password>@localhost:<port>/issue-tracker"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="3A65jUV1p69IrfCsjpHWfA7KCz7KDXWBv8OWe2mTquc=" #base64 encoded
GOOGLE_CLIENT_ID="" #From https://console.cloud.google.com/
GOOGLE_CLIENT_SECRET="" #From https://console.cloud.google.com/